* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.pagina {
    position: absolute;
    padding-top: 10px;
    padding-left: 20px;
}

.navigation {
    position: fixed;
    inset: 0 0 0 0;
    width: 45px;
    height: 100%;
    background: #fff;
    transition: 0.5s;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3;
    border-right: 2px solid rgb(160, 160, 160);
    border-bottom: 0px solid rgb(160, 160, 160);
}

.navigation.open {
    width: 250px;
}

.navigation.barraSuperior {
    width: 100%;
    height: 45px;
    border-bottom: 2px solid rgb(160, 160, 160);
    border-right: 0px solid rgb(160, 160, 160);
}

.navigation.barraSuperior.open {
    height: 310px;
}


.navigation .menuToggle {
    position: absolute;
    top: 0;
    left: 0;
    width: 45px;
    height: 46px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.25);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0 7px;
}

.navigation.barraSuperior .menuToggle {
    height: 45px;
    border-bottom: 0px solid rgba(0, 0, 0, 0.25);
}

.navigation .menuToggle:before {
    content: '';
    position: absolute;
    width: 30px;
    height: 2px;
    background: #333;
    transform: translateY(-8px);
    transition: 0.5s;
}

.navigation.open .menuToggle:before {
    transform: translateX(0px) rotate(45deg);
}

.navigation .menuToggle::after {
    content: '';
    position: absolute;
    width: 30px;
    height: 2px;
    background: #333;
    transform: translateY(8px);
    transition: 0.5s;
    box-shadow: 0 -8px 0 #33cccb;
}

.navigation.open .menuToggle::after {
    transform: translateX(0px) rotate(-45deg);
    box-shadow: 0 0 0 #33cccb;
}


.navigation ul {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 60px;
    transition: 0.5s;
    left: -1px;
    align-items: center;
    justify-content: flex-start;
}

.navigation.mapaEmTela ul {
    left: -21px;
}

.navigation.barraSuperior ul {
    top: -1px;
    left: 60px;
    flex-direction: row;
    height: 45px;
    border-left: 1px solid rgba(0, 0, 0, 0.25);
}

.navigation.barraSuperior.mapaEmTela ul {
    padding-left: 0px;
}

.navigation.barraSuperior.open ul {
    flex-direction: column;
}

.navigation ul li {
    list-style: none;
    position: relative;
    width: 100%;
    height: 60px;
    padding: 0 5px;
    transition: 0.5s;
}

.navigation ul li a {
    height: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
    text-decoration: none;
}


.navigation ul li a .icon {
    position: relative;
    display: block;
    min-width: 35px;
    height: 35px;
    line-height: 43px;
    transition: 0.5s;
    border-radius: 10px;
    font-size: 1.75em;
    color: #222;
}

.navigation.open ul li a .icon {
    min-width: 55px;
    height: 55px;
    line-height: 60px;
}

.navigation.barraSuperior.open ul li a .icon {
    min-width: 75px;
    height: 75px;
    line-height: 60px;
}

.navigation.barraSuperior ul li a .icon {
    padding: 10px;
    min-width: 55px;
    height: 55px;
}

.navigation ul li a .text {
    position: relative;
    padding: 0 15px;
    height: 60px;
    align-items: center;
    color: #333;
    opacity: 0;
    visibility: hidden;
    transition: 0.5s;
}

.navigation.barraSuperior ul li a .text {
    padding: 0 0px;
}

.navigation.open ul li a .text {
    opacity: 1;
    visibility: visible;
    display: flex;
}

a span {
    display: none;
}
