
@model UsuarioModel
@{
    ViewData["Title"] = "Cadastro";
}

<div class="text-center">
    <h1 class="display-4">CADASTRO</h1>
    <p>cadastro de usuarios</p>

   <!-- <p>Usuário: Model.Nome</p>
    <p>Senha: Model.Senha</p>
     <p>Administrador: Model.Administrador</p>-->

</div>

<div class="text-center">
    <h1 class="display-4">CADASTRO DE USUÁRIO</h1>

    <!--Formulário de login, submit direciona para controller Login, método Confirmarlogin-->
    <form action="/Usuario/gravar" method="POST">
        <label>Nome:</label>
        <input type="text" id="nome" name="usuario.nome" value="@ViewBag.usuario.Nome">

        <label>Senha:</label>
        <input type="password" id="senha" name="usuario.senha" value="@ViewBag.usuario.Senha">

        <label>Administrador</label>
        <input type="checkbox" id="administrador" name="usuario.administrador" value="@ViewBag.usuario.Administrador">
        
        <button type="submit">SALVAR</button>
    </form>
</div>