@model UsuarioModel
@{
    ViewData["Title"] = "Usuários";
}

<div class="text-center">
    <h1 class="display-4">USUÁRIOS</h1>

</div>
<a asp-controller="Usuario" asp-action="Editar">editar este usuário</a>


